<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增平台站点')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-platformChannel-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">父ID：</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input id="treeId" name="fatherId" type="hidden" th:value="${platformChannel?.platformChannelId}"/>
                    <input class="form-control" type="text" onclick="selectPlatformChannelTree()" id="treeName"
                           readonly="true" th:value="${platformChannel?.platformChannel}" required>
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">平台站点：</label>
            <div class="col-sm-8">
                <input name="platformChannel" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">市场ID：</label>
            <div class="col-sm-8">
                <input name="marketId" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <textarea name="memo" class="form-control"></textarea>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<script type="text/javascript">
    var prefix = ctx + "salesForecast/platformChannel"
    $("#form-platformChannel-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-platformChannel-add').serialize());
        }
    }

    /*平台站点-新增-选择父部门树*/
    function selectPlatformChannelTree() {
        var options = {
            title: '平台站点选择',
            width: "380",
            url: prefix + "/selectPlatformChannelTree/" + $("#treeId").val(),
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero) {
        var body = layer.getChildFrame('body', index);
        $("#treeId").val(body.find('#treeId').val());
        $("#treeName").val(body.find('#treeName').val());
        layer.close(index);
    }
</script>
</body>
</html>