<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改供应商产品历史价格')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-historicalPrice-edit" th:object="${misSupplierHistoricalPrice}">
        <!--            <input name="priceId" th:field="*{priceId}" type="hidden">-->
    </form>
</div>
<th:block th:include="include :: footer"/>
<script type="text/javascript">
    var prefix = ctx + "supplier/historicalPrice";
    $("#form-historicalPrice-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-historicalPrice-edit').serialize());
        }
    }
</script>
</body>
</html>